<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/forgot.css')}}"/>
</head>
<body>
    <center>
    <div class="body">
    <form method="POST">
        <div class="form-one">
        <h1 style="color:rgb(14, 13, 13); margin-top:16%;">User name</h1>
        <input type="username" name="username" required>
        <input type="submit">
    </form>
  </div>
  </center>
</body>
</html>