<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='/index.css')}}">
</head>
<body>

    <div class="body">
    <div style="margin-left:2%; margin-top:6%;"> 
    <center><h1 style="color:black">Welcome to <br> Hostel Management System</h1></center>
    </div>
    <div style="text-align:center;">
    <a href="{{url_for('login')}}"><button class="btnstyle">Login</button></a>
    <a href="{{url_for('registration')}}"><button class="btnstyle" type="submit">Registration</button></a>
    </div>
</div>

</body>
</html>