<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP vaildation</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename = '/otp.css')}}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <center><b>{{ message }}</b></center>
      {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <div class="body">
    <form method="POST" action="{{url_for('otp',otp=otp,userid=userid,username=username,password=password,email=email,passcode=passcode)}}"> 
      <center><h1 style="color:rgb(14, 13, 13); margin-top:4%;">Enter OTP</h1>
      <div style="margin-left:45%; margin-top:2%"></div>
      <div style=" margin-top:2%">
      <input type="text" name="otp"/><br>
      <button>submit</button>
    </center>
</form>
</div>
</body>
</html>
