<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOSTEL MANGEMENT SYSTEM</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename = '/visitorcheckin.css')}}">
</head>
{% if messages %}
<ul class=flashes>
{% for message in messages %}
  <center><b>{{message}}</b><center>
{% endfor %}
</ul>
{% endif %}

<body>
      <a href="{{url_for('Adminpage')}}"><button>Back</button></a>
<table>
    <tr>
        <td>
            <!--HTML form for crud operation-->

            <form autocomplete="off" action="{{url_for('visitorcheckin')}}" method="POST">
                <div>
                    <label for="fullName">Student-Id</label>
                    <br><select name="sid">
                        {% for i in data %}
                        <option>{{i[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="fullName">Visitor Name</label>
                    <input type="text" name="visitorname"  >
                </div>
                <div>
                    <label for="fullName">Mobile Number</label>
                    <input type="number" name="visitormobile"  >
                </div>

                    <button type="submit">submit</button>
            </form>
        </td>
        <td>
            <table class="list" id="employeeList">
                <thead>
                    <tr>
                        <th>Visitor-Id</th>
                        <th>Student-Id</th>
                        <th>Visitor-name</th>
                        <th>MobileNo</th>
                        <th>Check(IN)</th>
                        <th>Check(OUT)</th>
                        <th>date</th>


                    </tr>
                </thead>
                <tbody>
                  {% for i in details %}
                  <tr>
                      <td>{{i[0]}}</td>
                      <td>{{i[6]}}</td>
                      <td>{{i[1]}}</td>
                      <td>{{i[2]}}</td>
                      {% if i[3]!=None %}
                      <td>{{i[3]}}</td>
                      {% else %}
                      <td><a href='{{url_for("Checkinupdate",vid=i[0])}}'>{{i[3]}}</td></a>
                      {% endif %}
                      {% if i[4]!=None %}
                      <td>{{i[4]}}</td>
                      {% else %}
                      <td><a href='{{url_for("Checkoutupdate",vid=i[0])}}'>{{i[4]}}</td></a>
                      {% endif %}
                      <td>{{i[5]}}</td>
                      {% if i[0]|string+'.jpg' in path_data %}
                      <td><a href="{{url_for('viewvid',vid=i[0])}}">view</a></td>
                      {% else %}
                      <td><a href="{{url_for('photo_capture',vid=i[0])}}">add image</a></td>
                      {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<body >


</html>
